@model TDanhMucSp
<!--Product begin-->
<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
    <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
            <img class="img-fluid w-100" src="@Url.Content("../img/ImageCamera/" + Model.AnhDaiDien)" alt="">
            <div class="product-action">
                <a class="btn btn-outline-dark btn-square" onclick="muaSp('@Model.MaSp')"><i class="fa fa-shopping-cart"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div class="text-center py-4">
            <a class="h6 text-decoration-none text-truncate" asp-controller="Home" asp-action="ChiTietSanPham" asp-route-maSp="@Model.MaSp">@Model.TenSp</a>
            <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>@Model.GiaLonNhat</h5><h6 class="text-muted ml-2"><del></del></h6>
            </div>
            <div class="d-flex align-items-center justify-content-center mb-1">
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star-half-alt text-primary mr-1"></small>
            </div>
        </div>
    </div>
</div>
<!--Product end-->

<script>
    function muaSp(productId) {
        $.ajax({
            url: 'https://localhost:44368/shoppingcart/add',
            data: {
                productId: productId
            },
            type: 'POST',
            dataType: 'json',
            success: function (res) {
                if (res.status) {
                    $('#noiDung').html("Add to cart successed!");
                    $('#success_tic').modal('show');
                }
            }
        })
    }
</script>